body {
	background-color: lightgrey;
}


main {
	margin-top: 100px;
}

a {
	color: rgba(0,0,0,.7);
	text-decoration: none;
}

a:hover {
	color: rgba(0,0,0,.5);
	text-decoration: none;
}

.hide {
	display: none;
}


.carousel-item img {
	height: 350px;
}


#carouselExampleIndicators {
	background-color: grey;
}

.carousel-item img {
	margin: auto;
}

